{% extends 'AppBundle::content.html.twig' %}

{% block content_title %}Timeline{% endblock %}

{% block panel %}
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">V 0.0.1</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 24/12/2017</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Début officiel du projet CryptoBox</p>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}